/* Footer */
.footer {
  flex: 1 1 20%;
  background-color: var(--color-bar-bg);
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  width: 90%;
  border-radius: 10px;
}
.input {
  flex: 1 1 80%;
  border: 0;
  padding: 15px;
  border-radius: 7px 0 0 7px;
  color: var(--color-font);
  font-weight: 800;
}
input:focus::placeholder {
  color: transparent;
}
input:focus {
  outline: 0;
}
.addBtn {
  border: 0;
  border-radius: 0 7px 7px 0;
  padding: 15px;
  background-color: var(--color-font);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
