/* Header */
.header {
  display: flex;
  background-color: var(--color-bar-bg);
  border-radius: 20px 20px 0 0;
  justify-content: space-between;
  padding: 0 20px;
}
.modeBtn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-font);
}
.filter {
  list-style: none;
  display: flex;
  padding: 0;
}
.filterList {
  margin: 0 10px;
  cursor: pointer;
  font-weight: 600;
  color: var(--color-font);
}

.filterList.selected {
  color: var(--color-font);
}
.filterList.selected::after {
  content: '';
  display: block;
  border: 1px solid var(--color-font);
  margin: 0.2rem 0;
}
