.input {
  display: none;
}
.label {
  width: 18px;
  height: 18px;
  border: 2px solid #595959;
  border-radius: 3px;
}
.label:checked {
}
.name {
  flex: 1 1 80%;
  margin-left: 10px;
}
.deleteBtn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
